
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

  body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: #ffffff65;

}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 30px;
    background-color: #aeabd1;
    box-shadow: rgba(146, 146, 173, 0.341) 0px 7px 29px 0px;
}

.header-main {
    margin-top: 50px;
}
.header-main > p {
    text-align: center;
    color: #aeabd1;
    font-size: 20px;

}
h2 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    font-weight: 200;
}

.nav-text {
    text-decoration: none;
    color: #Ffff;
}
.main-login{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    
}

.left-login > h2 {
    color: #aeabd1;
    font-size: 2.5vw;
    text-align: center;

}

.left-login-image{
    width: 25vw;
}

.right-login{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: column;
    align-items: center;
    flex-direction: column;
    padding: 40px 40px;
    background: #685e82;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #c6c4c456;
}

.card-login > h1 {
    color: #ffffff;
    font-weight: 750;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #7f7f7f56;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;

}

.text-field > input:s:placeholder{
    color: #f0ffff94;

}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #aeabd1;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0066ff52;
}

.btn-cadastro{
    width: 100%;
    padding: 16px 0px;
    margin: 1px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #aeabd1;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0066ff52;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    padding: 15px;
    background-color: #aeabd1;
}

@media only screen and (max-width: 400px){
    .card-login{
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .left-login > h1{
        font-size: 5vw;
    }

    .left-login-image{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
        width: 100vw;
        
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100vw;
        height: 50vh;
        margin: auto;
        margin-top: 100vw;
    }
    .rigth-login{
        width: 90%;
    }
    .left-login-image{
        width: 50%;
    }
    .card-login{
        width: 100%;
    }
}
